$primary-color: rgba(71, 71, 85, 0.534);
$primary-background-box-color: grey;
$primary-textbox-color: rgba(255, 255, 255, 0.527);
$primary-button-color: red;

@mixin glass-border($bg: rgba(255,255,255,0.08), $border: rgba(255,255,255,0.2)) {
    background: $bg;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: 2px solid $border;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255,255,255,0.1);
}

@mixin glass-text(
    $weight: 500,
    $spacing: 0.08em,
    $color: rgba(255, 255, 255, 0.9)
) {
    font-family: 'Inter', sans-serif;
    font-weight: $weight;
    letter-spacing: $spacing;
    color: $color;
    text-shadow: 0 0 6px rgba(255, 255, 255, 0.2);
    text-decoration: none;
    list-style: none;
    padding-left: 5px;
}

@mixin banner {
    width: 33%;
    height: 200px;
    background-size: contain;   
    background-position: center;
    background-repeat: no-repeat;
    background-color: #000; 
}

@mixin widht-containers {
    width: 100%;
}

@mixin user {
            .user {
            color: rgb(128, 3, 3);
            text-shadow: 0 0 6px rgba(255, 102, 0, 0.555);
        }
}

@mixin glass-text-post(
    $weight: 500,
    $spacing: 0.08em,
    $color: rgba(255, 255, 255, 0.9)
) {
    h2 {
        font-size: 20px;
    }
    font-family: 'Inter', sans-serif;
    font-weight: $weight;
    font-size: 12px;
    letter-spacing: $spacing;
    
    color: $color;
    text-shadow: 0 0 6px rgba(255, 255, 255, 0.2);
    text-decoration: none;
    list-style: none;
    padding-left: 5px;
}
@mixin margin {
    
    margin: 20px 10px 5px 10px;
}