@use "./abstracts/variables" as *;

.right-content {

    .page {
        display: none;
    }

    .active {
        display: block;
    }


.new-content {
    display: flex;
    list-style: none;
    

    .new-bands, .new-labels, .new-artists {
        border: 1px solid red;
    }
}
}